body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 300px;
  height: auto;
  border: 3px solid lightblue;
  background: #1e1e1e;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.greeting {
  width: 50%;
  font-size: 16px;
  text-align: center;
  color: #c9c8c7;
}

.extension-name {
  font-size: 25px;
  font-weight: bold;
  color: #f2f0ef;
}

#count {
  font-size: 24px;
  font-weight: bold;
}

.welcome-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-button {
  height: 30px;
  border: none;
  border-radius: 5px;
  background: #f2f0ef;
}

/* Icon */
.cat-icon {
  width: 150px;
  display: block;
  margin: 0 auto;
}

/* This will be moved to content-popup css */
.stats-section {
  width: 100%;
  color: white;
}
