/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #f4f6f8;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-0 {
  fill: #f4f6f8;
}
.react-calendar-heatmap .color-1 {
  fill: #c8e1f5;
}
.react-calendar-heatmap .color-2 {
  fill: #8cc4e8;
}
.react-calendar-heatmap .color-3 {
  fill: #5aa7db;
}
.react-calendar-heatmap .color-4 {
  fill: #6b96c1;
}
.react-calendar-heatmap .color-5 {
  fill: #4a6b8a;
}

/* Rounded corners for all heatmap squares */
.react-calendar-heatmap rect {
  rx: 4;
  ry: 4;
}
